<html>
<head>
    <link rel="stylesheet" href="home_page.css">
    <link rel="stylesheet" href="navbar.css">
</head>

<body>
    <div id="navbar">
        <a class="mainpage" href="/">Profdex</a>
        <span class="navbar-buttons">
            <a class="menu" href="/editprofile">About Me</a>
			<a class="menu" href="/createpost">Create Review</a>
        </span>
        <span class="search-buttons">
            <a class="login-button" href="/login">Login</a>
            <input type="text" class="search" id="search" name="search" placeholder="Course/Professor">
            <input type="image" id="searchbutton" src="images/Search.png">
        </span>
    </div>
</body>
</html>